h1,
h2,
small,
p {
  color: magenta;
}

h2 {
  width: 179px;
  height: 84px;
  font-family: DIN2014;
  color: #f9f7f8;
  font-size: 41.67px;
  font-weight: 700;
  line-height: 6.631px;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.35);
  transform: scale(2.865,2.865);
}
.cloudyicon {
  position: relative;
  width: 240px;
  height: 158px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.35);
}

.cloudsimage {
  width: 1078px;
  height: 961px;
  position: relative;
  top: 50px;
  left: 25%;
}

.rainy,
.rainysunny,
.rainyevening,
.cloudyevening1,
.cloudyevening2 {
  position: relative;
  width: 100px;
  top: 20px auto;
  padding: 20px 20px 20px 20px;
  left: 0;
}
