body,
p {
  color: rgb(114, 8, 8);
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
}
a {
  color: rgb(27, 6, 162);
  text-decoration: none;
}
a:hover {
  color: #8e22d6;
}

h1 {
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  font-size: 2.5rem;
}

.container {
  margin: 20px auto;
  max-width: 1000px;
}

.card {
  padding: 50px;
  border-radius: 50px;
  border: 0;
  background: linear-gradient(#f6f33c, #4ecfd1);
  box-shadow: 4px 4px 10px 1px rgb(0 0 0 / 15%);
}

.current-city {
  float: right;
  padding: 100px;
}

.form-group {
  margin-left: 0 !important;
  padding-bottom: 30px;
  width: 75%;
}

.form-inline .form-group {
  display: inline-block;
}

.form-control {
  border: 0;
  border-radius: 5px;
  min-width: 300px;
}

.temp-current p,
.temp-future p {
  color: blueviolet;
}

.temp-current p {
  font-size: 150px;
}

.temp-future p {
  font-size: 40px;
}

.temp-current sup,
.temp-future sup {
  position: relative;
  font-size: 40px;
  top: -80px;
}

.temp-current p {
  display: inline;
}

.temp-current img {
  position: relative;
  top: -50px;
}

.temp-current .active {
  color: blueviolet;
  cursor: default;
}

#forecast {
  text-align: center;
}

.temp-future sup {
  font-size: 15px;
  top: -20px;
}

.btn {
  border: 0;
  margin-top: 3px;
  color: white;
}

.btn-current,
.btn-current:visited,
.btn-current:focus {
  background-color: blueviolet;
}

.btn-current:hover {
  background-color: #18ece5;
}

.btn-secondary {
  color: #fff;
  background-color: #0c7ada;
}
.btn-secondary:hover {
  background-color: #18ece5;
}

.open-source-link {
  padding: 20px 0 0 40px;
  color: orange;
}
@media (max-width: 200px) {
  .card {
    font-size: small;
  }
}
