h1,
h2,
p,
small,
li {
  color: magenta;
}

.weather {
  width: 100%;
  position: relative;
  text-align: center;
  color: white;
}
.temp {
  display: block;
  position: absolute;
  text-align: center;
  color: white;
  font-size: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a {
  color: white;
  text-decoration: underline;
}

.rainy,
.rainysunny,
.rainyevening,
.cloudyevening1,
.cloudyevening2 {
  position: relative;
  width: 100px;
  top: 20px auto;
  padding: 20px 20px 20px 20px;
  left: 0;
}

.searchnew {
  width: 100%;
}

ul {
  list-style-type: none;
}
button {
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: magenta;
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.button:hover {
  background-color: rgba(300, 0, 0, 1);
}

.button:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
